@model BlogSchoolProj.ViewModels.CommentViewModel

<div class="row mt-5">
    <div class="col-lg-6 col-md-8">
        <form asp-action="Comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="PostId" type="hidden"/>
            <input asp-for="MainCommentId" type="hidden"/>
            <div class="form-group">
                <label asp-for="Massage" class="control-label">Comment</label>
                <textarea asp-for="Massage" class="form-control"></textarea>
                @*<input asp-for="Massage" class="form-control" />*@
                <span asp-validation-for="Massage" class="text-danger"></span>
            </div>
            <div class="form-group float-right">
                <input type="submit" value="Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

